spring:
  application:
    name: document-management-system
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?createDatabaseIfNotExist=true
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    show-sql: true
  data:
    redis:
      host: localhost
      port: 6379

springdoc:
  swagger-ui:
    defaultModelsExpandDepth: -1

security:
  jwt:
    secretKey: ${JWT_SECRET_KEY}
    accessTokenExpiration: ${JWT_ACCESS_TOKEN_EXPIRATION}
    refreshTokenExpiration: ${JWT_REFRESH_TOKEN_EXPIRATION}